.content {

    background-color: #0b1d26;
    position: relative;
    z-index: 2;
    height: 100%;
    
}

.content::before {
    pointer-events: none;
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 250px;
    transform: translate(0px,-100%);
    background: linear-gradient(180deg,rgba(11,29,38,0) 5%, #0b1d26 100%);
}

.content-container{

}

.content-title{

}

.content-text{

}

.content-section::before{
    content: "";
    width: 100%;
    height: 4em;
    display: block;
    //transform: translate(0px,-100%);
    background: transparent;
}